/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
	text-align: center;
	font-family: 'IM Fell English SC', serif;
	font-size: 3em;
}

#container {
	margin-left: 28px;
}

#photo_container {
	margin: auto;
	margin-top: 5px;
	max-width: 65%;
	display: inline-block;
	background-color: black;
	border: solid grey 4px;
	padding: 1em;
}

.photo {
	width: 250px;
	height: 150px;
	padding: 1em;
	margin: auto;
	background-color: white;
}

#page_controls {
	margin: auto;
	margin-top: 5px;
	width: 300px;
	text-align: center;
	padding: 1em;
	border-radius: 1.5em;
	background-color: black;
	color: white;
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 1.5em;
}